// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$dark-green: #004D40;
$dark-green-lighter1: lighten($dark-green, 10);
$pink: #FA7C91;
$brown: #363636;
$beige-light: #D0D1CD;
$white-darken1: #F7F7F7;

// Update Bulma's global variables
$family-sans-serif: "Nunito",
sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $dark-green;
$link: $dark-green-lighter1;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white-darken1;
$control-border-width: 0px;
$input-border-color: transparent;
$input-shadow: none;

// Bulma Import
@import '~bulma';

html {
  scroll-behavior: smooth;
}

a {
  color: darken(#72ffe7, 40);
}

.container.is-fluid {
  width: 80%;
  padding-top: 60px;
  padding-bottom: 60px;

  @include bp(mobile-and-tablet) {
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
  }
}

.button {
  display: flex;
  align-items: center;
}

.main-card {
  @include bp(mobile) {
    padding: 0;
    box-shadow: none;

    .card-content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

p,
ul,
.card-footer {
  a {
    display: inline-block;
    position: relative;

    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $main-color;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    &:hover {
      color: $main-color;

      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
}

input,
textarea {
  border: 1px solid $main-color !important;
}
